* {
    box-sizing: border-box;
}
body {
    background-image: url("../images/foodbg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color:grey;
}

.jumbotron {
    margin:10px;
    opacity: 0.9; 
}
.card {
    padding:10px;
    margin-top:10px;
}
.container {
    margin-top:100px;
}