* {
    box-sizing: border-box;
}
body {
    background-image: url("../images/foodbg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.jumbotron {
    margin:10px;
    opacity: 0.9    ; 
}